{% extends 'base.html' %}
{% block content %}
    <div class="title">
       <span class="start h2"> ECM Reference links</span>
    </div>
    <div class="col-12 col-md-12 sub"></div>
    <div class="col-12 col-md-12 space-2"></div>
    <div class="col-12 col-md-12">
        <div class="mb-5 ml-4">
          <form action="{% url 'search' %}" method="get">

        <div class="input-group col-md-2">
            {% csrf_token %}
            <input style="width: 100px;" type="text" class="form-control search" name="application" placeholder="Rechercher...">
            <!-- <div class="input-group-append">
              <button class="btn btn-dark search ml-2" type="button">
                <i class="bi bi-search"></i>
              </button>
            </div> -->
          </div>
        </form>

        </div>
        <hr>
        <div class="col-12 col-md-12 space-1"></div>
        <div class="mb-4 size-table">
            <span class="text-success mr-3">
                <a href="{% url 'actif-list' %}" class="btn btn-success">
                    <i class="bi bi-arrow-up-right"></i>
                </a> {{nbActif}}
            </span>
            <span class="text-danger mr-3">
                <a href="{% url 'non_actif_list' %}" class="btn btn-danger">
                    <i class="bi bi-arrow-down-left"></i>
                </a> {{nbInactif}}
            </span>
            <span class="mr-3">
                <a href="{% url 'liste' %}" class="btn">
                    <i class="bi bi-list"></i>
                </a> {{total}}
            </span>
        </div>
    </div>
    
    <div class="row">
    <div class="size-table col-12 col-md-8">
    <table class="table card-2">
        <thead>
          <tr>
            <th scope="col"><i class="bi bi-arrows-angle-contract"></i> Statut Web</th>
            <th scope="col"><i class="bi bi-arrows-angle-contract"></i> Statut Server</th>
            <th scope="col"><i class="bi bi-app-indicator"></i> Application</th>
            <th scope="col"><i class="bi bi-link-45deg"></i> URL</th>
            <th class="float-right mr-2"scope="col"><i class="bi bi-hand-index"></i> Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for obj in liste_obj %}
            <tr>
              {% if obj.status == True %}
                <th class="text-success" scope="row"><i class="bi bi-arrow-up-right"></i> <i class="bi bi-circle-fill blink-success"></i></th>
              {% else %}
                <th class="text-danger" scope="row"><i class="bi bi-arrow-down-left"></i> <i class="bi bi-circle-fill blink-danger"></i></th>
              {% endif %}
              {% if obj.status_serveur == True %}
                <th class="text-success" scope="row"><i class="bi bi-arrow-up-right"></i> <i class="bi bi-circle-fill blink-success"></i></th>
              {% else %}
                <th class="text-danger" scope="row"><i class="bi bi-arrow-down-left"></i> <i class="bi bi-circle-fill blink-danger"></i></th>
              {% endif %}
                <td> {{obj.application}}</td>
              <td><a href="#">{{obj.urls}}</a></td>
              <td><a target="_blank" rel="noopener noreferrer"  href="{{obj.urls}}" ><button class="btn btn-dark float-right ml-2 " > <i class="bi bi-box-arrow-up-right"></i></button></a> <button class="btn btn-dark float-right id_url"  id="{{obj.id}}"><i class="bi bi-envelope"></i></button></td>
            </tr>
          {% endfor %}

        </tbody>
      </table>

      <!-- <button class="btn btn-dark"><i class="bi bi-file-earmark-excel text-success"> </i> <i class="bi bi-download"></i> <a href="{% url 'export_excel' %}">Telecharger</a></button> -->
      <!-- <nav aria-label="navbar" class="mt-1">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link disabled" href="#" tabindex="-1">Prev</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div> -->



  <div class="col-12 col-md-3 boder" id="result">
    <div class="alert alert-success"   id="result-alert">
      <strong>Success!</strong> Email send successfully.
    </div>
        <!-- <div class="notifs card-2">
            <div class="entete"><i class="bi bi-terminal"></i>  Statut du ping (ms) </div>

            <div id="result">
                <p id="time"></p>
                <p id="status_navigateur"></p>
                <p id="status_serveur"></p>
            </div>
        </div> -->

    </div>
    </div>
  {% endblock %}
